.parentLink {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) 0;
}

.chevron {
  transition: transform 200ms ease;
}

.chevronOpen {
  transform: rotate(90deg);
}

.childLink {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-lg);
  border-left: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  &:hover {
    background-color: var(--mantine-color-gray-8);
    border-radius: var(--mantine-radius-sm);
  }
}
